
.login-container {
    max-width: 300px;
    margin: auto;
    margin-top: 5vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-username {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

.input-password {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

.login-button-submit {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.login-button-submit:hover {
    background-color: #6eaf70;
}

.login-button-submit:active {
    background-color: #317534;
    transform: scale(0.99);
}

