/* Table.css */

.table_header {
  display: flex;
  justify-content: center;
}

.styled-table {
  width: 100%;
  max-width: 90vw;
  margin-left: 5vw;
  border-collapse: collapse;
}

.styled-table th, .styled-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.styled-table th {
  background-color: #f2f2f2;
}

td {
  width: 9vw;
  height: 3vw;
}

.cell-input {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  height: 100%;
  min-width: 100%;
  padding: 0;
}

.med_table-container{
  margin-top: 1vw;
}

.undertable_block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.table_of_absent {
  margin-bottom: 3vw;
}

.context-menu {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  cursor: pointer;
  padding: 5px 10px;
}

.context-menu li:hover {
  background-color: #f0f0f0;
}